* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.instaWrapper {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.instaWrapper .phone {
  background-image: url('https://ilanribeiro.github.io/projetos/dindingram/img/phone.png');
  background-repeat: no-repeat;
  background-color: white;
  width: 410px;
  height: 600px;
  margin-right: 30px;
  position: relative;
}

.instaWrapper .phone .screen {
  display: flex;
  position: relative;
}

.instaWrapper .phone .screen .img {
  margin: 100px 0 0 151px;
  position: absolute;
  opacity: 1;
  transition: 0.4s ease-in;
  display: none;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form {
  background-color: white;
  border: 1px solid #dcdcdc;
  margin-top: 30px;
  width: 350px;
  text-align: center;
  padding-bottom: 25px;
}

.instaLogo {
  width: 170px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.inputBody {
  background-color: #fafafa;
  color: #262626;
  border: 1px solid #dcdcdc;
  display: flex;
  width: 260px;
  height: 40px;
  padding: 5px 0 13px 0;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 45px;
  position: relative;
}

.inputBody input {
  width: 203px;
  height: 20px;
  color: #262626;
  font-size: 16px;
  margin-top: 3px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 1;
}

.inputBody p {
  color: #8e8e8e;
  font-size: 13px;
  position: absolute;
  top: 9px;
  left: 10px;
  transition: 0.5s ease;
}

.showHide {
  color: #464444;
  font-size: 14px;
  top: 10px;
  right: 5px;
  position: absolute;
  cursor: pointer;
  transition: 0.5s ease;
}

.loginBtn {
  width: 260px;
  padding: 5px;
  font: inherit;
  font-size: 15px;
  font-weight: 600;
  background-color: #0094f669;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
}

.alternative {
  color: #8e8e8e;
  margin-top: 8px;
  margin-bottom: 25px;
  text-transform: uppercase;
  position: relative;
  font-size: 13px;
  font-weight: 600;
}

.alternative::before {
  content: '';
  width: 100px;
  height: 1px;
  display: block;
  background-color: #dcdcdc;
  position: absolute;
  top: 8px;
  left: 54px;
}

.alternative::after {
  content: '';
  width: 100px;
  height: 1px;
  display: block;
  background-color: #dcdcdc;
  position: absolute;
  top: 8px;
  right: 54px;
}

.facebookLogin {
  text-decoration: none;
  color: #385185;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.facebookLogin img {
  margin-right: 8px;
}

.forgot {
  text-decoration: none;
  color: #385185;
  font-size: 12px;
  font-weight: 400;
}

.signup {
  width: 350px;
  padding: 22px 0;
  text-align: center;
  font: inherit;
  font-size: 14px;
  margin-top: 10px;
  background-color: white;
  color: #262626;
  border: 1px solid #dcdcdc;
}

.signup p a {
  text-decoration: none;
  color: #0095f6;
  font-weight: 600;
}

.getApp {
  width: 350px;
  margin: 20px 0;
  text-align: center;
  color: #262626;
  font-size: 14px;
  font-family: inherit;
}

.appLinks {
  width: 350px;
  display: flex;
  justify-content: center;
}

.appLinks .appStore img {
  width: 130px;
  margin-right: 10px;
  cursor: pointer;
}

.appLinks .googlePlay img {
  width: 130px;
  cursor: pointer;
}

.fader {
  display: none;
  animation: fade 3s linear alternate infinite;
  transition: linear 0.5s ease-in-out;
}
